<div id="orange-background">
</div>

<div id="gray-background">
</div>

<div id="github-logout">
  <%= button_to "Logout", logout_path, class: 'github-btn', id: 'logout-btn', method: :delete %>
</div>

<div id="iob-main">
  <%= image_tag("iob.png") %>
</div>

<div id="avatar">
  <%= image_tag(current_user.image_url) %>
</div>

<div id="bathroom-subtitle">
  <p>Big workspace bathroom availability.</p>
</div>

<%= image_tag("dropdown.png", id: "the-board-img") %>
<div id="the-board-text">Leaderboard</div>
<div id="the-board"></div>
<div id="listings">
  <table id="listings-table">
  </table>
</div>


<%= image_tag("bathroom-bot-2.png", id: "bathroom-bot") %>
<div id="bathroom-bot-about">
  <button type="button" id="bathroom-bot-about-btn">?</button>
</div>
<div id="bathroom-notifier">
  <i><span id="bathroom-bot-question"></span></i>
</div>

<%= render partial: 'bathrooms/score' %>
<%= render partial: 'bathrooms/trivia' %>
<%= render partial: 'bathrooms/answer' %>
<%= render partial: 'bathrooms/scripts' %>
<%= render partial: 'bathrooms/status', :locals => { :toilet_status => @toilet_status } %>

