<div id="orange-background">
</div>

<div id="gray-background">
</div>

<div id="github-logout">
  <%= button_to "Logout", logout_path, class: 'github-btn', id: 'logout-btn', method: :delete %>
</div>

<div id="iob-main">
  <%= image_tag("iob.png") %>
</div>

<div id="avatar">
  <%= image_tag(current_user.image_url) %>
</div>

<div id="trivia-score">
  <table>
    <tr>
      <td><span id="raw-score-label">Score: </span></td>
      <td><span id="raw-score"> 0 </span></td>
    </tr>
  </table>
</div>

<div id="trivia-title">
  <span id="trivia-slogan">Trivia while you wait, for <span id="points-up">100</span> points.</span><br>
</div>

<div id="trivia-form">
  <table id="trivia-table">
    <tr>
      <td class="table-title"><span id="trivia-category-label">Category:</span></td>
      <td class="table-info"><span id="trivia-category">Hot Dogs</span></td>
    </tr>
    <tr>
      <td class="table-title"><span id="trivia-question-label">Question:</span></td>
      <td class="table-info"><span id="trivia-question">This one is made in Chicago with lots and lots of things.</span></td>
    </tr>
  </table>
</div>

<div id="trivia-submit">
  <span id="trivia-submit-label">What is</span>
  <input type="text" name="trivia-answer" placeholder="enter your guess" id="trivia-input"><br>
  <button type="button" id="trivia-submit-btn">Submit</button>
</div>

<div id="bathroom-subtitle">
  <p>Big workspace bathroom availability.</p>
</div>

<div id="bathroom-1">
  <% if @toilet_status[:bathroom1] == 1 %>
    <%= image_tag("occupied.png", class: "status-image", id: 'bathroom1-img') %>
  <% else %>
    <%= image_tag("open.png", class: "status-image", id: 'bathroom1-img') %>
  <% end %>
</div>

<div id="bathroom-2">
  <% if @toilet_status[:bathroom2] == 1 %>
    <%= image_tag("occupied.png", class: "status-image", id: 'bathroom2-img') %>
  <% else %>
    <%= image_tag("open.png", class: "status-image", id: 'bathroom2-img') %>
  <% end %>
</div>

<div id="bathroom-3">
  <% if @toilet_status[:bathroom3] == 1 %>
    <%= image_tag("occupied.png", class: "status-image", id: 'bathroom3-img') %>
  <% else %>
    <%= image_tag("open.png", class: "status-image", id: 'bathroom3-img') %>
  <% end %>
</div>

<script type="text/javascript">toiletStatus()</script>
<script type="text/javascript">triviaForm()</script>